body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('back 1.jpg'); 
  background-position:center;
}
.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7); 
}
.dataset {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
 